<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
      <h2 class="text-center alert alert-danger">Function based View</h2>
      {% block content %} {% endblock content %}
    </div>

<script src="{% static 'myapp/css/bootstrap.js' %}"></script>
<script src="{% static 'myapp/css/jquery.js' %}"></script>
<script src="{% static 'myapp/css/popper.js' %}"></script>
</body>
</html>