{% extends 'myapp/base.html' %}
{% block content %}

<div class="container">
    <h1>car</h1>
    <a href="{% url 'new_car' %}" class="btn btn-primary mb-3">New Car</a>

    <div class="row">
        {% for car in cars %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="/media/{{ car.image }}" alt="Card image cap">
                <div class="card-body">
                <p>{{ car.make }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    
</div>

{% endblock content %}

